.ant-layout-header {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}

.ant-layout-content {
  background-color: #fff;
}
